// Colours 
$color-black: #000;
$color-bg-black: #212121; 
$color-brown: #B8860B; 
$color-blue: #4169E1;
$color-yellow: #FFD700;
$color-white: #FFF;
$color-dark-grey: #999;
$color-light-grey: #EEE;
$color-link-border-grey: #CCC;
$color-hover-grey: #666;
$color-text-shadow-grey: #333;
$color-border-right-grey: #CCD;

// Fonts 
$font-arial: Arial, sans-serif;
$font-damion: 'Damion';
$font-impact: Impact, sans-serif;